@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.content{   /*será usada para centralizar todos os cards no doc*/
    display: flex;
    justify-content: center;    /*CENTRALIZA A .content-cards*/
    width: 100%;
    margin-bottom: 2em;
}

/*.content-cards serve para agrupar todas as cards e ajudará
a controlar o comportamento delas*/
.content .content-cards {       /*se aplica apenas as classes content-cards que possuem a classe content com pai*/
    width: 67vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;               /*espaçamento entre linhas e colunas*/
    justify-content: center;
}

.card-item {
    background: #FFF;
    box-shadow: 2px 2px 200px #26395338;
    width: 310px;
    border-radius: 20px;
}

.card-item .card-header img{
    width: 100%;
    overflow: auto;
    border-radius: 20px 20px 0 0;

}

.body{
    border-radius: 0 0 20px 20px;
    padding: 20px;
}
.bodyText{
    text-align: justify;
}
.actionCard{
    display: flex;
    justify-content: center;
}
.actions{
    width: 218px;
    height: 46px;
    border-radius: 20px;
    border: none;
    background-color: #58B809;
    cursor: pointer;
    margin: 5px;
    color: white;
}
.actions a{
    text-decoration: none;
    color: white;
}
/*  !!! ATENÇÃO !!! AJUSTAR TEXTOS DOS CARDS*/